<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connections>
    <connection name ="jc3" providerName="OleDb" default="true">
      Provider=Microsoft.ACE.OLEDB.12.0;Data Source=d:\work\C4Net\Resources\JC3IEDM-MIRD-3.1.4.accdb;Persist Security Info=False;
    </connection>
    <connection name ="source" providerName="SqlServer">
      Data Source=.\SQLExpress;Initial Catalog=fosdb;Integrated Security=True
    </connection>
    <connection name ="target" providerName="Oracle">
      <![CDATA[
      Data Source=localhost;Initial Catalog=pos_int;Persist Security Info=True;User ID=sa;Password=password;MultipleActiveResultSets=True
      ]]>
    </connection>
  </connections>
</configuration>