<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <items>
    <item name="srcEnt" type="DatabaseSource" templateName="entity">
      <Parameters>
        <Parameter name="connectionName" value="jc3" />
        <Parameter name="sql">
          TABLE ENT
        </Parameter>
      </Parameters>
      <Mappings>
        <Mapping source="ent_id" target="id"/>
        <Mapping source="name_txt" target="name"/>
        <Mapping source="tab_name_txt" target="tableName"/>
        <Mapping source="def_txt" target="definition"/>
        <Mapping source="depth_cnt" target="depth"/>
      </Mappings>
    </item>
    <item name="srcAttr" type="DatabaseSource" templateName="attribute">
      <Parameters>
        <Parameter name="connectionName" value="jc3" />
        <Parameter name="sql">
          SELECT * FROM ATTR WHERE ENT_ID=[%id%]
        </Parameter>
      </Parameters>
    </item>
    <item name="actRemoveFile" type="FileRemoveAction">
      <Parameters>
        <Parameter name="fileName" value="[%tableName%].txt" />
      </Parameters>
    </item>
    <item name="tgtFile" type="TextAppendTarget">
      <Parameters>
        <Parameter name="fileName" value="[%../tableName%].txt" />
        <Parameter name="lineFormat">
          <![CDATA[[%name_txt%]]]>
        </Parameter>
      </Parameters>
    </item>
    <item name="camelName" type="CamelizeAction">
      <Parameters>
        <Parameter name="fieldName" value="name_txt" />
      </Parameters>
    </item>
  </items>
  <maps>
    <map itemName="srcEnt">
      <maps>
        <map itemName="actRemoveFile" />
        <map itemName="srcAttr">
          <maps>
            <map itemName="camelName" />
            <map itemName="tgtFile" />
          </maps>
        </map>
      </maps>    
    </map>
  </maps>
</configuration>